[Unit]
Description=Eth2Stats Client
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=metrics
Group=metrics
UMask=0077
Restart=always
RestartSec=5
ExecStart=/var/lib/metrics/eth2stats-client/eth2stats-client run \
    --eth2stats.node-name="Untitled Lighthouse Node" \
    --data.folder /var/lib/metrics/eth2stats-data \
    --eth2stats.addr="grpc.medalla.eth2stats.io:443" --eth2stats.tls=true \
    --beacon.type="v1" \
    --beacon.addr="http://localhost:5052" \
    --beacon.metrics-addr="http://localhost:5054/metrics"

[Install]
WantedBy=multi-user.target