[Unit]
Description=Ethereum Go Client (ETH1)
After=network.target
Wants=network.target

[Service]
Type=simple
User=geth
Group=geth
UMask=0077
Restart=always
RestartSec=5
ExecStart=/usr/bin/geth \
    --datadir /var/lib/geth \
    --authrpc.jwtsecret=/var/lib/common-el-cl/jwtsecret \
    --http \
    --metrics \
    --metrics.addr 127.0.0.1 \
    \
    --goerli \
    --port 33333 \
    --metrics.expensive \
    --pprof

[Install]
WantedBy=default.target
