[Unit]
Description=Lighthouse Beacon Node (ETH2)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=lhbn
Group=lhbn
UMask=0077
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/lighthouse bn \
    --datadir /var/lib/lighthouse \
    --network mainnet \
    --staking \
    --eth1-endpoint http://127.0.0.1:8545 \
    --metrics \
    --validator-monitor-auto \
    --target-peers 100

[Install]
WantedBy=multi-user.target
