[Unit]
Description=Lighthouse Beacon Node (ETH2)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=lhbn
Group=lhbn
UMask=0077
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/lighthouse bn \
    --datadir /var/lib/lighthouse \
    --staking \
    --execution-endpoint http://127.0.0.1:8551 \
    --execution-jwt /var/lib/common-el-cl/jwtsecret \
    --metrics \
    --validator-monitor-auto \
    --target-peers 100 \
    \
    --network goerli \
    --port 9999 \
    --checkpoint-sync-url https://goerli.checkpoint-sync.ethdevops.io

[Install]
WantedBy=multi-user.target
